/* WBSU Question Papers */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    background-color: #eafaff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
}

header {
    background-color: #003366;
    color: white;
}

#header-content {
    max-width: 1080px;
    width: 95%;
    padding: 18px 0;
    font-size: 12px;
    font-weight: bold;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#header-content img {
    width: 26px;
    height: 26px;
}

footer {
    background-color: #2d445c;
    color: white;
    margin-top: auto;
}

#footer-content {
    max-width: 1080px;
    width: 95%;
    margin: auto;
    padding: 18px 0;
    font-size: 12px;
    font-weight: normal;
}

#footer-content .question-mark {
    width: 15px;
    height: 15px;
    margin-bottom: -3px;
    margin-right: 10px;
}

#footer-content .contact {
    color: #eafaff;
    font-size: 13px;
    margin-left: 5px;
}

main {
    max-width: 1080px;
    width: 95%;
    margin: 60px auto 120px auto;
}

#search-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10%;
    margin: 40px 0;
}

#search-options label {
    font-size: 17px;
}

#search-options select,
#search-options input {
    font-size: 18px;
    padding: 6px 12px;
    margin: 12px 0;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    background-color: #ccddff;
}

#search-options #search-btn {
    padding: 8px 26px;
    transform: translate(5%, -2px);
    background-color: #003366;
    color: white;
}

#search-results .search-info {
    font-size: 14px;
}

#search-results .results-set {
    margin: 40px;
}

#search-results .results-item {
    margin: 30px 0;
    padding: 6px 5%;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    background-color: #ffffea;
}

#search-results .results-item span {
    font-size: 21px;
    letter-spacing: 1px;
}

#search-results .results-item a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    margin: 0 5%;
    font-size: 18px;
    background-color: #003366;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
}