//- about

extends ./base.pug

block head-end
    title Exam Papers Archive | About
    meta(name="description" content="Download previous years examination question papers")

block header-content-end
    h1 Exam Papers Archive

block main-end 

    div#about
        h2 About
        p The website provides a centralized repository for students to easily find previous year question papers. It addresses the common frustration of navigating multiple, disorganized websites by offering a streamlined search experience, ultimately saving students time in their exam preparation.
        p If you are unable to locate the papers you need, please reach out to us and we will do our best to source them for you. We want to help students excel in their studies, and we hope our platform will serve as a valuable resource in your academic journey.
        p #[b Email]: #[a(href="mailto:contact@newmediaxp.com" target="_blank") contact@newmediaxp.com]

    div#contribute
        h2 Contribute 
        p We welcome contributions from anyone who has papers that are not available on our website. Additionally, if you have a better quality paper than what we currently offer, we encourage you to send it to us so that we can update our collection with the latest and most accurate papers. If you have a question paper that you would like to share, please send it to us at the email listed above, and we will add it to our database after verifying its authenticity.
        p Your contributions will help us to improve the quality and quantity of question papers available in this website.
