//- base template

doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="author" content="New Media XP")
        meta(name="theme-color" content="#2d445c")
        link(rel="icon" type="image/png" href="./favicon.png")
        link(rel="stylesheet" href="./assets/css/base.css")
        link(rel="manifest" href="./manifest.json")
        link(rel="apple-touch-icon" href="./favicon.png")
        block head-end

    body

        header: #header-content
            a(href="./"): img(src="./favicon.png" alt="site icon" width="20")
            block header-content-end

        main
            block main-end

        footer: #footer-content
            
            div#page-links
                a(href="./") Home
                a(href="./about") About

            p#copyright &#169; New Media XP

        script(src="./assets/js/base.js")
        block body-end
