//- base template

doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="author" content="AnimaxNeil")
        link(rel="icon" type="image/png" href="./favicon.png")
        link(rel="stylesheet", href="./assets/css/base-style.css")
        block head-end

    body

        header: #header-content
            a(href="./"): img(src="./favicon.png" alt="site icon" width="20")
            block header-content-end

        main
            block main-end

        footer: #footer-content
            
            div#page-links
                a(href="./") Home
                a(href="./about.html") About Us

            p#copyright &#169; AnimaxNeil

        script(src="./assets/js/base-script.js")
        block body-end

