//- index

extends ./base.pug

block head-end
    title Exam Papers Archive | Home
    meta(name="description" content="Download previous years examination question papers")

block header-content-end
    h1 Exam Papers Archive

block main-end

    div#index-heading
        h2 Choose examination
    
    div#exam-pages
    
block body-end
    script(src="./assets/js/home-script.js")

