//- WBSU UG

extends ./base.pug

block head-end
    title WBSU UG | Exam Papers Archive
    meta(name="description" content="Download previous years WBSU UG question papers")

block header-content-end
    h1 EPA | WBSU UG

block main-end

    div#search-options

        div
            label(for="subject") Subject : 
            select#search-option-subject(name="subject")

        div
            label(for="year") Year : 
            select#search-option-year(name="year")
                option(value="ANY") ANY 

        div 
            button#search-btn(type="button") Search

        div
            input#search-option-text(type="text" name="name" placeholder="Search papers with name" maxlength="15")

        div 
            button#search-toggle-text(type="button" title="Search With Text")
                img(src="./assets/img/search-toggle-text-icn.png" alt="Search With Text")
            button#search-toggle-select(type="button" title="Search With List")
                img(src="./assets/img/search-toggle-select-icn.png" alt="Search With List")

    div#search-results

block body-end
    script(src="./assets/js/wbsu-ug.js")
